$alt-header: 75px;
//utilizo una variable para usar como referencia para el main

@mixin Header(){
    width: 100%;
    height: $alt-header;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1em;
    background-color: $fondo;
    box-shadow: 0px 0px 25px 5px $shadow;
    .logo{
        cursor: pointer;
        text-decoration: none;
        color: $beige ;
        
    }
    .abrir{
        opacity: 0;
        visibility: hidden;
        @include mobil-smaller(){
            opacity: 1;
            visibility: visible;
            border: 0;
            font-size: 1.5rem;
            background-color: transparent;
            color: $beige;
            cursor: pointer;
        }
    }

   
    .nav{
        display: flex;
        align-items: end;
        @include mobil-smaller(){
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            height: 100vh;
            align-items: end;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            padding: 1.5rem 1rem 0 4rem;;
            transform: translateX(100%); 
            transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
            box-shadow: 0 0 0 100vmax rgb(0,0,0, .5);
            background-color: $negro;
             &.visible {
                transform: translateX(0);
            }
        }
        .cerrar{
            opacity: 0;
            visibility: hidden;
            @include mobil-smaller(){
                opacity: 1;
                visibility: visible;
                border: 0;
                font-size: 1.5rem;
                background-color: transparent;
                color: $beige;
                cursor: pointer;
            }
            }
        .nav-list{
            display: flex;
            align-items: center;
            gap: 2rem;
            list-style: none;
            font-size: 1.3rem;
            a{
                text-decoration: none;
                color: rgb(69, 209, 224);
                img{
                    display: none
                };
            }
            @include mobil-smaller(){
                flex-direction: column;
                align-items: end;
                padding: 3em 0;
                gap: 1rem;
                a{
                    text-decoration: none;
                    img{
                        display: block;
                        margin-top: 4em;
                    }
                }
            }
        }
    }
     .visible{
        opacity: 1;
        visibility: visible;

    }
 
}